page-login {
    // .scroll-content {
    //     padding-bottom: 0px !important
    // }
    .bg-login {
        width: 100%;
        height: 100%;
        background-image: url('../assets/imgs/login-bg.png');
        background-size: cover;
        background-position: center;
    }
    .bg-register {
        width: 100%;
        height: 100%;
        background-image: url('../assets/imgs/register-bg.jpg');
        background-size: cover;
        background-position: center;
    }
    .overlay {
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.901), rgba(0, 0, 0, 0.846), rgba(0, 0, 0, 0.716))
    }
    .logo-white-login {
        width: 30%
    }
    .bg-transparent {
        background: transparent
    }
    .ctaLogin {
        padding: 10px;
        background: $snow;
        border-radius: 100px;
        color: $purple
    }
    .ctaRegister {
        padding: 10px;
        background: $snow;
        border-radius: 100px;
        color: $orange
    }
    .txtRegistrar {
        color: $snow;
    }
}
